<!DOCTYPE html>
<html lang="en">
<!-- <html lang="ru"> -->

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Ленбиржа</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">
</head>

<body class="page">
  <%= _.template(require("./templates/header.html"))(data) %>
    <%= _.template(require("./templates/hero.html"))(data) %>
      <%= _.template(require("./templates/first.html"))(data) %>
        <%= _.template(require("./templates/second.html"))(data) %>
          <%= _.template(require("./templates/third.html"))(data) %>
            <%= _.template(require("./templates/fourth.html"))(data) %>
              <%= _.template(require("./templates/footer.html"))(data) %>

                <script src="./assets/js/jquery-3.5.1.min.js"></script>
                <script src="./assets/js/bootstrap.bundle.min.js"></script>
                
                <script>
                  var videoPlayer = document.getElementById('video');

                  // Play / pause.
                  videoPlayer.addEventListener('click', function () {
                    if (videoPlayer.paused == false) {
                      videoPlayer.pause();
                    } else {
                      videoPlayer.play();
                    }
                  });
                </script>
</body>

</html>